HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

savannah-canopy-web/node_modules/

#exluding terraform files
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.89.0/windows_amd64

terraform/.terraform/providers/**/terraform-provider-aws_*_x5.exe

terraform/terraform.tfvars